@model IEnumerable<InterviewSchedulingProject1.Models.getcondidatedetailselected>

@{
    ViewData["Title"] = "AdminDashboard";
}

<h1>AdminDashboard</h1>
<br />


     @using (Html.BeginForm("AdminDashboard", "ISP", FormMethod.Get))  
        {  
            <b> Search by</b> 
          
            @Html.TextBox("search") <input type="submit" value=" Search" />  
        }  
        |  

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.twelth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.graduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postgraduation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.selected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.twelth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.graduation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postgraduation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.skills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.selected)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @*<a asp-action="AdminEditCandidate" asp-route-id="@item.id">Edit</a>|
                    <a asp-action="AdminDeletCandidate" asp-route-id="@item.id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>



